$main_color: #ffffff;
$one_bg: #232323;
$two_bg: #494949;
$head_font: "Playfair Display", serif;
$base_font: "Lato", sans-serif;
$transition: all 0.3s ease-in-out;
$transition_one: all 0.5s ease-in-out;
